<html>
		<body class= "bggoldenrod">
		<link href="css/styles.css" rel="stylesheet">
<h1 font-weight: bold class= "color_blue center">Personal Details</h1>
<center><a style="color:red" href='/'>Reset</a></center>
<br><br>
<%=yield%>
		</body>
</html>