<center><h1>"What are your 3 favorite numbers?"</h1><center>
<form action="numbers" method="post">
	<input type="number" name="num1">
	<input type="number" name="num2">
	<input type="number" name="num3">
 		<input type ="submit">
</form>